<div class="row">
  <div class="col-xs-12">
    <img
      src="{{ (recipesState | async)?.recipes[id]?.imagePath }}"
      alt="{{ (recipesState | async)?.recipes[id]?.name }}"
      class="img-responsive img-thumbnail detail-image"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ (recipesState | async)?.recipes[id]?.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button class="btn btn-default dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a
            (click)="toShoppingList()"
            [ngClass]="{ disabled: addedIngredientsToList }"
            >To Shopping List
            {{ addedIngredientsToList ? "- Added already" : "" }}</a
          >
        </li>
        <li>
          <a
            [routerLink]="['edit']"
            fragment="router-outlet"
            style="cursor: pointer"
            *ngIf="isAuthenticated"
            >Edit Recipe
          </a>
          <a class="disabled" *ngIf="!isAuthenticated"
            >Edit Recipe - Login to use</a
          >
        </li>
        <li>
          <a
            class="delete-item"
            style="cursor: pointer"
            (click)="onDeleteClicked()"
            *ngIf="isAuthenticated"
            >Delete Recipe</a
          >
          <a class="disabled delete-item" *ngIf="!isAuthenticated"
            >Delete Recipe - Login to use</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <hr />
  </div>
  <div class="col-xs-12">
    <p>{{ (recipesState | async)?.recipes[id]?.description }}</p>
  </div>
</div>
<div *ngIf="addedIngredientsToList" class="added-message">
  Ingredients added to Shopping List!
</div>
<div class="row">
  <div class="col-xs-6">
    <hr />
  </div>
  <div class="col-xs-10 col-sm-7">
    <ul class="list-group ingredient-group">
      <li
        class="list-group-item"
        *ngFor="
          let ingredient of (recipesState | async)?.recipes[id]?.ingredients
        "
      >
        {{ ingredient.name }} -- {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
