h1 {
  font-size: 1.5em;
  margin: 5px;
  line-height: 1.2em;
}

#app-name-span {
  color: darkolivegreen;
  text-shadow: 2px black;
}

p {
  font-size: 1.2em;
}

.above {
  background: linear-gradient(to right, #ffffff, hsl(42, 90%, 98%), #ffffff);
  min-height: calc(100vh - 40px);
  padding-bottom: 48px;
}
.header-spacer {
  min-height: calc(var(--header-height) + 2px);
  margin-bottom: 24px;
}

.footer {
  text-align: center;
  /* background-color: hsl(72, 3%, 98%); */
  background-color: var(--footer-col);
  padding: 8px;
  border-top: 1px solid hsl(72, 75%, 43%);
  position: relative;
}

.footer p {
  margin: 0;
  font-size: 0.9em;
  /* opacity: 0.6; */
  color: var(--on-primary-text-col);
}

.above > app-header {
  margin-bottom: 25px;
}

.user-info {
  opacity: 0.9;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
