:host {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.navbar {
  margin-bottom: 0 !important;
  background-color: var(--primary-col);
  /* --text-color: #fbfbfb; */
}
.navbar-nav > li > a {
  color: var(--on-primary-text-col);
  text-transform: uppercase;
  transition: all 0.1s ease-out;
}
.navbar-nav > li > a:hover {
  color: var(--on-primary-darker-text-col);
}

.navbar > .container .navbar-brand {
  color: var(--on-primary-text-col);
}

.brand-logo {
  background-color: rgb(88, 14, 14);
  padding: 0 0.3em;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .brand-logo {
    font-size: 1.3em;
  }
}

.logged-in-user {
  opacity: 1;
  color: #fcfcfc !important;
}
