html,
body {
  margin: 0 !important;
}

h1,
h3,
h2,
h4 {
  text-align: center;
}

h4 i {
  font-size: 0.9em;
  margin: 0 12px;
}
.title {
  margin-bottom: 12px;
}

.pane {
  width: 100%;
  height: 100%;
  padding: 0px 10px 20px;
}

.ruler {
  border-color: var(--tert-col-dark);
  width: 868px;
}
@media (max-width: 905px) {
  .ruler {
    width: 578px;
  }
}
@media (max-width: 614px) {
  .ruler {
    width: 288px;
  }
}

.gallery-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.gallery-row img {
  display: inline-block;
  width: 280px;
  border: 1px solid var(--tert-col-dark);
  margin: 10px 5px;
}
