<div class="pane container">
  <h2>
    Welcome<span *ngIf="(getAuthState() | async).authenticated">,&nbsp;</span
    ><span style="font-weight: 600">{{
      (getAuthState() | async).authenticated
        ? (getAuthState() | async).user
        : ""
    }}</span
    >!
  </h2>
  <br />
  <h1 class="title"><em>~ Gourmet ~</em></h1>
  <h4>
    <i class="fa fa-book" aria-hidden="true"></i>Recipe Management System<i
      class="fa fa-book"
      aria-hidden="true"
    ></i>
  </h4>
  <br />
  <br />

  <div class="row gallery-row">
    <img class="img-thumbnail" src="assets/images/dish1.jpg" alt="" />
    <img class="img-thumbnail" src="assets/images/dish2.jpg" alt="" />
    <img class="img-thumbnail" src="assets/images/dish3.jpg" alt="" />
    <img class="img-thumbnail" src="assets/images/dish4.jpg" alt="" />
    <img class="img-thumbnail" src="assets/images/dish5.jpg" alt="" />
    <img class="img-thumbnail" src="assets/images/dish6.jpg" alt="" />
  </div>
</div>
