/* You can add global styles to this file, and also import other style files */

app-root {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: "Roboto Mono", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  /* background:  linear-gradient(-225deg, rgba(220,220,220,0.8) 10%, rgba(246,246,246,0.65) 90%), url('./assets/images/wooden-table.jpg');
  background-position: center;
  background-repeat: none;
  background-size: cover; */

  --header-height: 60px;
  --default-bootstrap-header-height: 52px;

  --primary-col: hsl(72, 75%, 43%);
  --primary-col-darker: hsl(72, 75%, 39%);
  --on-primary-text-col: #333;
  /* --on-primary-text-col: #fafafa; */
  --on-primary-darker-text-col: #fafafa;
  /* --on-primary-darker-text-col: #333; */

  /* --sec-col: hsl(345, 60%, 52%); */
  --sec-col: hsl(360, 73%, 65%);
  --on-sec-text-col: var(--on-primary-text-col);
  /* --sec-col-darker: hsl(345, 75%, 41%); */
  --sec-col-darker: hsl(360, 60%, 52%);

  --tert-col-lighter: hsl(307, 54%, 40%);
  --tert-col: hsl(308, 75%, 31%);
  --tert-col-dark: hsl(307, 100%, 17%);
  --footer-col: hsl(72, 100%, 98%);
}
body {
  overflow-x: hidden;
  font-size: 16px;
}

.btn {
  transition: color 0.1s ease-out, background-color 0.1s ease-out,
    border-color 0.1s ease-out;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.btn-default:hover {
  background-color: #ddd;
  color: #fff;
  border-color: currentColor;
}

.btn-primary {
  background-color: var(--primary-col);
  border-color: var(--primary-col-darker);
  color: var(--on-primary-text-col);
}
.btn-primary:hover {
  background-color: var(--primary-col-darker);
  color: var(--on-primary-darker-text-col);
  border-color: currentColor;
}
.btn-primary[disabled] {
  color: var(--on-primary-darker-text-col);
}
.btn-primary[disabled]:hover {
  background-color: var(--primary-col-darker);
  color: var(--on-primary-darker-text-col);
}

.btn-danger {
  background-color: var(--sec-col);
  color: var(--on-sec-text-col);
  border-color: var(--sec-col-darker);
}
.btn-danger:hover {
  background-color: var(--sec-col-darker);
  color: var(--on-primary-darker-text-col);
  border-color: currentColor;
}

.list-group-item.active,
.list-group-item.active:focus {
  border-color: var(--primary-col-darker);
  background-color: white;
  background-color: var(--primary-col);
  color: var(--on-primary-text-col);
  transition: background-color 0.1s ease-out, color 0.05s ease-out;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: var(--on-primary-text-col);
  transition: background-color 0.1s ease-out, color 0.05s ease-out;
}

.list-group-item.active:hover {
  border-color: var(--primary-col-darker);
  background-color: white;
  background-color: var(--primary-col);
  color: var(--on-primary-darker-text-col);
  transition: background-color 0.1s ease-out, color 0.05s ease-out;
}
.list-group-item.active:hover .list-group-item-text {
  color: var(--on-primary-darker-text-col);
  transition: background-color 0.1s ease-out, color 0.05s ease-out;
}
