.btn {
  transition: color 0.1s ease-out, background-color 0.1s ease-out,
    border-color 0.1s ease-out;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  outline: none !important;
}

.btn-default:hover {
  background-color: #ddd;
  color: #fff;
  border-color: currentColor;
}

.btn-primary {
  background-color: var(--primary-col);
  border-color: var(--primary-col-darker);
  color: var(--on-primary-text-col);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus:active {
  background-color: var(--primary-col-darker);
  color: var(--on-primary-darker-text-col);
  border-color: currentColor !important;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  outline: 1px solid var(--primary-col-darkest);
}

.btn-primary[disabled] {
  color: var(--on-primary-darker-text-col);
}
.btn-primary[disabled]:hover {
  background-color: var(--primary-col-darker);
  color: var(--on-primary-darker-text-col);
}

.btn-danger {
  background-color: var(--sec-col);
  color: var(--on-sec-text-col);
  border-color: var(--sec-col-darker);
}
.btn-danger:hover {
  background-color: var(--sec-col-darker);
  color: var(--on-primary-darker-text-col);
  border-color: currentColor;
}
