<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
      <div class="row form-wrapper">
        <div class="col-xs-12 form-group name-group">
          <label for="ingredientName">Name</label>
          <input
            type="text"
            id="ingredientName"
            class="form-control"
            formControlName="ingredientName"
          />
          <span
            class="help-block"
            *ngIf="
              !ingredientForm.get('ingredientName').valid &&
              (ingredientForm.get('ingredientName').touched || triedSubmit)
            "
            >Which ingredient, bro?</span
          >
        </div>
        <div class="col-xs-12 form-group amount-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            formControlName="amount"
          />
          <span
            class="help-block"
            *ngIf="
              !ingredientForm.get('amount').valid &&
              (ingredientForm.get('amount').touched ||
                ingredientForm.get('amount').dirty ||
                triedSubmit)
            "
            >What amount, sis?</span
          >
          <span
            class="help-block"
            *ngIf="
              ingredientForm.get('amount').errors?.forbiddenAmounts &&
              (ingredientForm.get('amount').dirty || triedSubmit)
            "
            >Dat don't make sense!</span
          >
        </div>
      </div>
      <span
        class="help-block expressive"
        *ngIf="!ingredientForm.valid && triedSubmit"
        >Not so fast, my friend! You take care of 'em form fields first</span
      >
      <div class="row buttons-wrapper">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">
            {{ editMode ? "Save" : "Add" }}
          </button>
          <button class="btn btn-primary" type="button" (click)="onClear()">
            Clear
          </button>
          <button
            class="btn btn-danger pull-right"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"
          >
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
